@font-face {
        font-family: "DS-DIGIB";
        font-style: normal;
        src: url("../../Font/DS-DIGIB.TTF") format("truetype"); 
        }

.font-dt{
    font-family:DS-DIGIB
}

#tableproductivity {
    width: 100%;
}

.header {
    height: 25%;
    width: 100%;
}

.content {
    height: 60%;
    width: 100%;
}

.footer {
    height: 15%;
    width: 100%;
}

#header {
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
}

#footer {
    height: 100%;
    width: 100%;
}

#header td {
    text-align: center;
    line-height: 40px;
}

#header .logo {
    vertical-align: middle;
}

/********************************************************************************************************/

#tableproductivity #header .title {
    color: black;
    font-size: 30px;
    text-decoration: dashed;
    font-weight: bold;
}

#tableproductivity #header .time {
    color: black;
    font-size: 30px;
    vertical-align: middle;
}

#header .ledalert {
    color: black;
    vertical-align: middle;
}

#content td {
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

#footer td {
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

#footer .title {
    height: 50%;
}

#footer .value {
    height: 50%;
}

#tb_pro_collec {
    width: 100%;
}


#content, #LCDTH_ticker {
    height: 100%;
    width: 100%;
}

#title1 {
    height: 100%;
    width: 100%;
}

#title2 {
    height: 100%;
    width: 100%;
}

#footer {
    height: 100%;
    width: 100%;
}

body {
    vertical-align: middle;
}



#title1 td {
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

#title2 td {
    /*border: 2px solid black;*/
    text-align: center;
    line-height: 40px;
}

#footer td {
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

/*********************************************                          KanBan                ********************************/
#tbKB {
    width: 100%;
    height: 100%;
}


#content {
    height: 100%;
    width: 100%;
}


#tbKB #content td {
    vertical-align: middle;
}

#tbKB #header td {
    /*border: 2px solid black;*/
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#notfound {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.btp_status{
    height: 100%; width: 100%;
    border:2px dotted #eee
}

/***************************            Error                   *****************************/
#tableError {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
}

.content {
    width: 100%;
}

#tableError .title {
    width: 100%;
}

#header {
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
}

#title {
    height: 100%;
    width: 100%;
}

#header td {
    text-align: center;
    line-height: 40px;
}


#header .title {
    vertical-align: middle;
}

#header .time {
    vertical-align: middle;
}


#title td {
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

#content .error {
    height: 120px;
}

#content .grouperror {
    height: 120px;
}

/********************************************************************************** 
 *******************                 jqxChart Style               ***************** 
 **********************************************************************************/
.jqx-chart-axis-text,
.jqx-chart-label-text,
.jqx-chart-tooltip-text,
.jqx-chart-legend-text,
.jqx-chart-axis-description,
.jqx-chart-title-text,
.jqx-chart-title-description {
    fill: #333333 !important;
    color: #333333 !important;
    font-size: 25px !important;
    font-family: 'Times New Roman' !important;
    font-weight: bold !important;
}

.jqx-chart-axis-description {
    fill: #555555 !important;
    color: #555555 !important;
    font-size: 25px !important;
}

.jqx-chart-title-text {
    fill: #111111 !important;
    color: #111111 !important;
    font-size: 25px !important;
    font-weight: bold !important;
}

.jqx-chart-title-description {
    fill: #111111 !important;
    color: #111111 !important;
    font-size: 12px !important;
    font-weight: normal !important;
}

.jqx-chart-label-text { /*mau chu trong ruot*/
    fill: darkslateblue !important;
}

.jqx-chart-axis-text { /*mau chu hang ngang duoi*/
    fill: red !important;
}

.jqx-chart-tooltip-text {
    font-size: 18px !important;
    padding: 10px !important;
}

#tb_qlns #content .value{
    background:black;
    border-bottom:2px solid #ccc
}

#tb_ns_new #LCD_NS_New_ticker .value span.Pos_1{
    letter-spacing:-2px
}

#tb_ns_new #LCD_NS_New_ticker .value span.Pos_2{
    letter-spacing:-14px
}