<script src="~/Scripts/QLNS/Productivity/LCDNS_New.js"></script>

<style>
    .c_right {
        float: right;
        width: 49%;
    }

    .c_left {
        float: left;
        width: 49%;
    }

    .col_1, .col_2, .col_3, .col_4 {
        border:none;
        border-bottom:1px solid #ccc !important;
    }
</style>

<table id="tb_ns_new" style="width: 100%; height:650px">
    <tr>
        <td id="cl-title" style="padding:0 !important;  ">
            <table id="header">
                <tbody>
                    <tr>
                        <td class="logo">
                            <img src="~/Content/img/logocompany.png" />
                        </td>
                        <td class="title" id="lineName">BẢNG NĂNG SUẤT</td>
                        <td class="ledalert">
                            <img id="lightAlert" src="~/Content/ShowLCD/circle_red.png" />
                        </td>
                        <td class="time" style="font-family:DS-DIGIB">
                            <span date id="date"></span> <br />
                            <span time id="timeofday"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td id="ul-content">
            <ul id="LCD_NS_New_ticker"></ul>
        </td>
    </tr>
</table>